body {
  margin: 10px;
  background: powderblue;
}

form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px;
  background: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p, h1, h4 {
  text-align: center;
  margin: 10px;
}

input {
  width: 100%;
}

section{
  background: whitesmoke;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactdisplay {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background: white;
}
